.max {
    background-color: #bed4e3;
    line-height: 0.9em;
    color: transparent; // A period or other char must exist within the innermost div for anything to display. This hides that period.
}
